@import '~shared/styles/index';
@import "~shared/styles/loader";

body {
  background-color: $color-background-dark;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  color: $color-white;
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
