@import '~shared/styles/index.scss';

body {
  background-color: $color-background-dark;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  color: $color-white;
  text-align: center;
}

a,
a:active,
a:visited {
  color: $color-white;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
