@import "~shared/styles/index";

:global(.button) {
  cursor: pointer;
  padding: 10px 20px;
  background: $color-primary;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    background: lighten($color-primary, 5%);
    transform: scale(1.05);
  }

  &:active {
    background: lighten($color-primary, 2.5%);
    transform: scale(1.025);
  }
}
