:global(.loader) {
  display: flex;

  &--fullscreen {
    width: 100vw;
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
  }

  &--middle {
    justify-content: center;
    align-items: center;
  }
}
